UNIDAD 1/actividad/3_EJ_XML_SHEMA/Ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Elemento raíz -->
  <xs:element name="Estrenos_Disney">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pelicula" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Titulo" type="xs:string"/>
              <xs:element name="Fecha" type="xs:string"/> <!-- Podrías usar xs:date si usas formato ISO (YYYY-MM-DD) -->
              
              <xs:element name="Directores">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Director" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Escritores">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Escritor" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Productores">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Productor" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                  </xs:sequence>
