UNIDAD 1/actividad/3_EJ_XML_SHEMA/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Elemento raíz -->
  <xs:element name="E-mail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="De" type="xs:string"/>
        <xs:element name="Para" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="CC" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Asunto" type="xs:string"/>
        <xs:element name="Cuerpo" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
